{% if section.settings['show-galery'] %}
  <style>
    .our-story {
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
    }
    .our-story h2 {
      font-size: 2.5rem;
      font-weight: bold;
      color: {{ section.settings.text_color }};
      margin-bottom: 0px;
    }
    .our-story .underline {
      display: inline-block;
      width: 100px;
      height: 3px;
      background-color: {{ section.settings.text_color }} !important;
      margin-top: -3rem !important;
    }
    .galleryContainer {
      background-color:{{ section.settings.background }}
    }


  </style>
  <div class="container text-center pt-5 pb-5 galleryContainer">
    <div class="our-story">
      <h2>{{ section.settings.title }}</h2>
      <div class="underline"></div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image1 != blank %}
          <img src="{{ section.settings.image1 | image_url }}" alt="galery1" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery1.png' | asset_url }}" alt="galery1" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image2 != blank %}
          <img src="{{ section.settings.image2 | image_url }}" alt="galery2" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery2.png' | asset_url }}" alt="galery2" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image3 != blank %}
          <img src="{{ section.settings.image3 | image_url }}" alt="galery3" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery3.png' | asset_url }}" alt="galery3" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image4 != blank %}
          <img src="{{ section.settings.image4 | image_url }}" alt="galery4" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery4.png' | asset_url }}" alt="galery4" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image5 != blank %}
          <img src="{{ section.settings.image5 | image_url }}" alt="galery5" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery5.png' | asset_url }}" alt="galery5" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image6 != blank %}
          <img src="{{ section.settings.image6 | image_url }}" alt="galery6" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery6.png' | asset_url }}" alt="galery6" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
    <div class="row pt-4">
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image7 != blank %}
          <img src="{{ section.settings.image7 | image_url }}" alt="galery7" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery7.png' | asset_url }}" alt="galery7" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image8 != blank %}
          <img src="{{ section.settings.image8 | image_url }}" alt="galery8" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery8.png' | asset_url }}" alt="galery8" width="100%" height="100%">
        {% endif %}
      </div>
      <div class="col-12 col-md-4 mb-3">
        {% if section.settings.image9 != blank %}
          <img src="{{ section.settings.image9 | image_url }}" alt="galery9" width="100%" height="100%">
        {% else %}
          <img src="{{ 'galery9.png' | asset_url }}" alt="galery9" width="100%" height="100%">
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Galery",
  "settings": [
    {
      "type": "header",
      "content": "Gallery settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Section title",
      "default": "OUR GALLERY"
    },
    {
      "type": "checkbox",
      "id": "show-galery",
      "label": "Show galery",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image3",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image4",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image5",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image6",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image7",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image8",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "image_picker",
      "id": "image9",
      "label": "pick image",
      "info": "select a image"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "galery"
    }
  ]
}
{% endschema %}
